/** GENERAL **/

body {
    font-family: 'Open Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

/* Animation */
#realisations, #realisations *, #retrouvezNous i {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


::-moz-selection {
    background: rgba(0,0,0,0.1);
}
::selection {
    background: rgba(0,0,0,0.1);
}

@font-face {
    font-family: 'Lobster';
    src: url(font/Lobster.otf);
}
@font-face {
    font-family: 'FORCED SQUARE';
    src: url(font/FORCED_SQUARE.ttf);
}


/** HEADER **/

header {
    position: relative;
    padding: 35vh 10vw;
    overflow: hidden;
}
header, #quote {
    background-color: #1abc9c;
    background-image: url(img/headerBackground.jpg);
    background-size: cover;
    background-attachment: fixed;
}

header>h1 {
    font-size: 80px;
    line-height: 100px;
    height: 100px;
    text-align: center;
    color: white;
    white-space: nowrap;
}

header>h1>span:first-child {
    font-family: 'Lobster', cursive;
    margin-right: 15px;
}
header>h1>span:nth-child(2) {
    font-family: 'FORCED SQUARE', sans-serif;
}
header>h1>span:nth-child(3) {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    top: -34px;
    font-size: 0.5em;
    background-color: white;
    color: black;
    height: 50px;
    width: 50px;
    line-height: 69px;
    mix-blend-mode: lighten;
}

header>h4 {
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    margin-top: 10px;
    text-align: center;
    color: white;
}

@media screen and (max-width: 570px) {
    header>h1 {
        font-size: 3.5em;
    }
    header>h1>span:nth-child(3){
        top: -25px;
        height: 35px;
        width: 35px;
        line-height: 48px;
    }
    header>h4 {
        font-size: 16px;
        margin-top: 0px;
    }
}
@media screen and (max-width: 430px) {
    header>h1 {
        font-size: 2.5em;
    }
    header>h1>span:nth-child(3){
        top: -25px;
        height: 35px;
        width: 35px;
        line-height: 48px;
    }
    header>h1>span:first-child {
        margin-right: 8px;
    }
    header>h1>span:nth-child(3) {
        top: -19px;
        height: 27px;
        width: 27px;
        line-height: 39px;
    }
}

/* Menu */
nav {
    position: fixed;
    top: 0;
    right: -10vw;
    padding-left: 10vw;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: white;
    border-bottom: 10px solid #1abc9c;
    z-index: 99;
}
nav>div {
    display: inline-block;
}
#logo {
    position: absolute;
    font-size: 130px;
    font-family: 'Lobster', cursive;
    color: #1abc9c;
    overflow: hidden;
}
nav a {
    margin-right: 50px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}
nav a:hover {
    color: #1abc9c;
}
nav a:first-child{
    margin-left: 110px;
}
nav>i {
    visibility: hidden;
    position: fixed;
    top: 25px;
    right: 10px;
    font-size: 30px!important;
}
nav>i:hover {
    color:  #1abc9c;
    cursor: pointer;
}

@media screen and (max-width: 660px) {
    nav>div {
        visibility: hidden;
        position: fixed;
        right: 0;
        left: 0;
        top: 90px;
        width: 100vw;
        background-color: rgba(255,255,255,0.9);
        border-bottom: 10px solid #1abc9c;
    }
    nav>i {
        visibility: visible;
    }
    nav a {
        display: block;
        margin: 20px!important;
        text-align: center;
        line-height: 40px;
    }
}


#descendre {
    display: block;
    position: absolute;
    bottom: 0;
    width: 80vw;
    text-align: center;
    font-size: 60px;
    color: white;
}
#descendre>a {
    color: white;
}


/** MAIN **/

main>div {
    position: relative;
    margin: 80px 10vw;
}
main h2 {
    font-family: 'Lobster', cursive;
    font-size: 42px;
}


/* Triptyque */
#triptyque {
    text-align: center;
}
#triptyque>div:hover {
    cursor: pointer;
}
#triptyque>div:hover h2{
    text-decoration: underline;
}
#triptyque>div:hover i{
    top:  -10px;
    right: -10px;
    text-shadow: -10px 10px 0 #1abc9c;
}

#triptyque>div {
    display: inline-block;
    width: 23vw;
    margin: 40px 1vw;
    vertical-align: top;
}
@media screen and (max-width: 900px){
    #triptyque>div {
        display: block;
        width: auto;
    }
}
#triptyque i {
    position: relative;
    font-size: 150px;
    text-shadow: 0px 0px 0 #1abc9c;
}
#triptyque h2 {
    text-align: center;
    color: #1abc9c;
}
#triptyque p {
    text-align: center;
    font-size: 20px;
}


/* Portfolio */
#realisations>figure{
    position: relative;
    display: inline-block;
    width: 220px;
    height: 220px;
    padding: 20px;
    overflow: hidden;
    cursor: pointer;
}
#realisations span {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 10px solid #1abc9c;
    border-radius: 100%;
    background-color: #636363;
    overflow: hidden;
}
#realisations>figure:hover span {
    border-color: black;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
#realisations img {
    position: absolute;
    height: 100%;
}
#realisations figcaption {
    display: block;
    position: absolute;
    bottom: -100px;
    padding: 10px;
    margin: 0 -10px;
    width: 220px;
    background-color: white
}
#realisations>figure:hover figcaption {
    bottom: 40px;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
#realisations figcaption>i {
    float: right;
    display: inline-block;
    padding: 5px;
    padding-left: 6px;
    padding-right: 4px;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 100%;
    background-color: #1abc9c;
}
#realisations figcaption:hover>i{
    color: white;
}

/* Quote */
#quote{
    margin: 20px 0;
    min-height: 150px;
    background-color: #1abc9c;
    overflow-x: auto;
    overflow-y: hidden;
}
#quote>h1 {
    margin: 43px 10vw;
    font-size: 40px;
    color: white;
}


/* Contact */
#retrouvezNous>span {
    font-size: 75px;
}
#retrouvezNous>span>i{
    color: #1abc9c;
}
#retrouvezNous>span>i:hover{
    cursor: pointer;
    color: black;
}

#contact {
    margin-bottom: 10px;
}

form{
    position: absolute;
    display: block;
    top: 120px;
    width: 300px;
    padding: 10px 15px;
    background-color: white;
    border-radius: 10px;
    z-index: 50;
    overflow: hidden;
}
form>label {
    display: block;
    margin: 5px 0;
    vertical-align: top;
}
form>label>span {
    display: inline-block;
    vertical-align: top;
    width: 96px;
}
form>label>input, form>label>textarea {
    width: 200px;
}
form>[type="submit"]{
    padding: 10px;
    color: white;
    background-color: #1abc9c;
    border: none;
    border-radius: 5px;
}
form>[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.8;
}
form>i {
    position: absolute;
    bottom: 10px;
    right: 50px;
    font-size: 130px!important;
    opacity: 0.02;
}


#map {
    margin: 0;
    height: 300px;
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}



/** FOOTER **/

footer {
    padding: 20px 10vw;
    background-color: #1abc9c;
}
footer>p {
    color: white;
    font-size: 20px;
    font-style: italic;
}
footer a {
    color: white;
    float: right;
    margin: 0 5px;
}


/** Responsive **/

@media screen and (max-width: 360px) {
    main h2 {
        font-size: 30px;
    }
    main h3 {
        font-size: 20px;
    }
}

@media screen and (max-width: 650px) {
    #realisations>figure{
        width: 170px;
        height: 170px;
    }
    #realisations>figure span {
        width: 150px;
        height: 150px;
    }
    #realisations figcaption {
        width: 170px;
    }
    #realisations > figure:hover figcaption {
        bottom: 20px;
    }
    #retrouvezNous>span {
        font-size: 60px;
    }
    main>div {
        margin: 60px 10vw;
    }
    form {
        top: 178px;
        right: 0;
    }
    footer a {
        float: none;
    }
}